.search {
	width: calc(1140 / 1280 * 100%);
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 0 43px;
	border-bottom: 1px rgba(170, 170, 170, 0.2) solid;
	
}
.search__input-container {
	width: 100%;
	border: 1.5px solid rgba(170, 170, 170, 0.2);
	box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 70px 0 26px;
}
.search__submit-button {
	background-color: #000000;
	border: none;
	padding: 17px 29px;
	margin: 10px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	transition: 0.6s ease opacity;
	opacity: 1;
}
.search__submit-button:hover {
	opacity: 0.6;
	cursor: pointer;
}
.search__input {
	margin: 0 25px;
	font-size: 18px;
	line-height: 20px;
	color:#000;
	border: none;
	outline: none;
	width: calc(100% - 20px);
  height: 60px;
}
.search__input::placeholder {
	color: #A0A0A0;
	font-size: 18px;
	line-height: 20px;
}


/*checkbox styles*/
.search__switch {
  position: relative;
  display: flex;
  width: 36px;
  height: 20px;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
	border-radius: 16px;
}

.search__checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
}

.search__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 16px;
}

.search__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 2px;
  bottom: 2px;
  background-color: #2BE080;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 50%;
}

.search__checkbox:checked + .search__slider {
  background-color: #000;
	;
}

.search__checkbox:checked + .search__slider:before {
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
}
.search__checkbox-title {
	position: relative;
	top: 0;
	left: 50px;
	font-size: 13px;
	line-height: 18px;
}


@media screen and (max-width: 800px) {
	.search {
		width: calc(708 / 768 * 100%);
		max-width: 708px;
		padding: 0 0 51px;
	}

}
@media screen and (max-width: 500px) {
	.portfolio {
		width: calc(292 / 320 * 100%);
		max-width: 292px;
		padding: 0 0 63px;
	} 
	.search__submit-button {
		padding: 13px 19px;
		margin: 6px;
	}
	.search__input {
		height: 50px;
		margin: 0 12px;
		font-size: 16px;
		line-height: 16px;
	}
	.search__input::placeholder {
		font-size: 16px;
		line-height: 16px;
	}
}