.login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
.login__container {
	margin: 70px auto;
	width: 396px;
	max-width: calc(100% * 260 / 320)
}
.login__logo {
	background-image: url("../../images/logo.svg");
	width: 38px;
	height: 38px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	opacity: 1;
	transition: opacity 0.7s ease;
}
.login__logo:hover {
	opacity: 0.6;
	cursor: pointer;
}

.login__hello {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin: 40px 0;
}
.login__form {
	display: flex;
	flex-direction: column;
}
.login__input-container {
	display: flex;
	flex-direction: column;
}
.login__input-title {
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #A0A0A0;
	padding: 0;
	margin: 0;
}
.login__input {
	padding: 5px 0 10px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #E8E8E8;
	font-size: 14px;
	line-height: 17px;
}
.login__input:focus-visible {
	outline: none;
	border-bottom: 1px solid #000;
}
.login__input_invalid {
	color: #FF4062;
}
.login__error {
	line-height: 12px;
	margin: 0;
	height: 12px;
	font-size: 10px;
	color: #FF4062;
	padding: 6px 0;
}
.login__submit-button {
	margin: 205px 0 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	padding: 13px 0;
	background-color: #000;
	border: none;
	transition: 0.7s ease opacity;
	opacity: 1;
}
.login__submit-button:hover {
	opacity: 0.6;
	cursor: pointer;
}
.login__question-container {
	width: 100%;
	text-align: center;
	padding: 16px 0;
}
.login__question {
	font-size: 14px;
	line-height: 17px;
	color: #A0A0A0;
	padding: 0 6px 0 0;
	margin: 0;
}
.login__sign-button {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	padding: 0 0 6px 0;
	margin: 0;
	text-decoration: none;
	opacity: 1;
	transition: opacity 1s ease;
}
.login__sign-button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 500px) {
	.login {
		justify-content: flex-start;
	}
	.login__container {
		margin: 56px auto 30px;
	}
	.login__logo {
		margin: 0 auto;
	}
	.login__hello {
		margin: 50px auto 80px;
		text-align: center;
	}
	.login__submit-button {
		font-size: 12px;
		line-height: 15px;
	}
	.login__sign-button {
		font-size: 12px;
		line-height: 15px;
	}
	.login__question {
		font-size: 12px;
		line-height: 15px;
	}
}